<div>
     <div class="row" style="margin-top: 50px;">
            <ol class="col-xs-4 text-left breadcrumb"  style="margin-top: 25px">
              <li><a href="#">Home</a></li>
              <li class="active">Invoices</li>
            </ol>

    <div class="col-xs-8 text-right" style="margin-top: 25px; display: inline;">

            <div>
                <h3 style="display: inline;"><strong><a ui-sref="invoices.add"><i class="ti-plus"></i></a>&nbsp&nbsp</strong></h3>
                <form id="demo-2" role="form"  style="display: inline;">
                    <input id="demo-2" type="search" ng-model="search">
                </form>
            </div>
    </div>

     </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="padding:1%;">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Invoice #: 15582 [June 2014]
                </a>

                <button type="button" class="btn btn-danger btn-xs">Paid</button>
                <a style="float:right" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseThree"><i class="ti-angle-down"></i></a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Invoice #: 15581 [June 2014]
                </a>
                <button type="button" class="btn btn-danger btn-xs">Paid</button>
                <a style="float:right" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseThree"><i class="ti-angle-down"></i></a>

            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Invoice #: 15580 [June 2014]
                </a>
                <button type="button" class="btn btn-danger btn-xs">Paid</button>

                <a style="float:right" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="ti-angle-down"></i></a>

            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
