<div>
     <div class="row" style="margin-top: 50px;">
            <ol class="col-xs-4 text-left breadcrumb"  style="margin-top: 25px">
              <li><a href="#">Home</a></li>
              <li class="active">Groups</li>
            </ol>

    <div class="col-xs-8 text-right" style="margin-top: 25px; display: inline;">

            <div>
                <h3 style="display: inline;"><strong><a ui-sref="groups.add">ADD</a>&nbsp&nbsp</strong></h3>
                <form id="demo-2" role="form"  style="display: inline;">
                    <input id="demo-2" type="search" ng-model="search">
                </form>
            </div>
    </div>

     </div>
</div>

<div class="row" >
    <div class="col-sm-12">
        <div class="col-sm-4" ng-repeat="group in groups | filter:search">
            <a ui-sref="groups.view({ id: group.$id })">
              <section class="panel panel-default">
                <header class="panel-heading">
                    <h5>{{group.name}}</h5>
                </header>
                <div class="panel-body" style="color:black !important;">
                <!-- {{group | json}} -->
                </div>
            </section>
            </a>
        </div>
    </div>
</div>
