
<div>
     <div class="row" style="margin-top: 50px;">
            <ol class="col-xs-4 text-left breadcrumb"  style="margin-top: 25px">
              <li><a href="#">Home</a></li>
              <li class="active">Products</li>
            </ol>

    <div class="col-xs-8 text-right" style="margin-top: 25px; display: inline;">

            <div>
                <h3 style="display: inline;"><strong><a ui-sref="products.add"><i class="ti-plus"></i></a>&nbsp&nbsp</strong></h3>
                <form id="demo-2" role="form"  style="display: inline;">
                    <input id="demo-2" type="search" ng-model="search">
                </form>
            </div>
    </div>

     </div>
</div>

<div class="row" >
    <div class="col-sm-12">
        <div class="col-sm-4" ng-repeat="product in data.products">
            <section class="panel panel-default">
                <header class="panel-heading">
                    <h5><a ui-sref="products.view({ id: product.$id })">{{product.name}}</a></h5>
                </header>
                <div class="panel-body" >
                    {{product | json}}
                </div>
            </section>
        </div>
    </div>
</div>